/*=======================================
=            Frontend Styles            =
========================================*/
.woocommerce .wsk_typ-cyfrowa table.startowy_numer {
	display: none;
}


.woocommerce .wsk_typ-papierowa table.startowy_numer {
	display: table;
}

/* Szosa */
.styled-select {
	width: 100%;
}

.styled-select select {
    width: 100%;
    font-size: medium;
}