/*=======================================
=            Frontend Styles            =
========================================*/
.woocommerce .wsk_typ-cyfrowa table.startowy_numer {
	display: none;
}


.woocommerce .wsk_typ-papierowa table.startowy_numer {
	display: table;
}