.deviceLabel {
	font-size:36px;
	font-weight:bold;
}

/* iPhone portrait - fullscreen*/
@media screen and (width:320px) {
	body {
		background-color: #CCC;
	}
	.deviceLabel:after {
		content:'iPhone (portrait)'; 
	}
}

/* Kinde Fire - Landscape */
@media screen and (min-width:540px) {
	body {
		background-color: #CCC;
	}
	.deviceLabel:after {
		content:'Kindle Fire (portrait)'; 
	}
}

/* iPad - Portait */
@media screen and (min-width:708px) {
	body {
	background-color: #CCC;
	}
	.deviceLabel:after {
		content:'iPad (portrait)'; 
	}
}

/* iPad - Landscape */
@media screen and (width:1024px) {
	body {
		background-color:#CCC;
	}
	.deviceLabel:after {
		content:'iPad/Kindle Fire (landscape)'; 
	}
}

/* Android Tablet (800x1280) - Portait */
@media screen and (width:740px) {
	body {
		background-color: #CCC;
	}
	.deviceLabel:after {
		content:'Android x-large (portrait)'; 
	}
}

/* Android Tablet (800x1280) - Landscape */
@media screen and (width:1220px) {
	body {
		background-color: #CCC;
	}
	.deviceLabel:after {
		content:'Android x-large (landscape)'; 
	}
}
a {
	color: #F00;
	font-size:36px;
}
